*{
  margin : 0 ;
  padding : 0 ;
  box-sizing: border-box ;
} 
body{
  display: block;
  margin:8px;
  border :2px;
  padding:1px;

}
h1 {
  background-color :gray ;
  color :#fff;
  text-align: center ;
 height : 65px ;
 font-size : 50 px ;
 margin : 10px ;
 border : 10px ;

}
nav p {
   background-color: lightblue;
  color:gray;
  padding-block-end: 5px;
  
  
  text-align: center;
  font-size :35px;
  }
nav li {
   background-color: lightblue;
  font: black;
 
  display :inline ;
 
font-size :30px ;
}

h2{

  text-align: center;
  padding: 3px;
  background-color:gray;
  color: whitesmoke;

}


footer {
  text-align: center;
  padding: 3px;
  background-color: gray;
  color: white;
  border-block-end: 3px;
}