*{
  margin : 0 ;
  padding : 0 ;
  box-sizing: border-box ;
} 



h1 {
  background-color :gray ;
  color :#fff;
  text-align: center ;
 height : 65px ;
 font-size : 50 px ;
 margin : 10px ;
 border : 10px ;

}
nav li {
   background-color: lightblue;
  font: black;
 
  display :inline ;
 
font-size :30px ;
}

h2{

  text-align: center;
  padding: 3px;
  background-color:gray;
  color: whitesmoke;

}


footer {
  text-align: center;
  padding: 3px;
  background-color: gray;
  color: white;
  border-block-end: 3px;
}